<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img src="../../../assets/anuncio1.PNG" class="card-img-top" alt="Anuncio1">
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="../../../assets/anuncio3.PNG" class="card-img-top" alt="Imagen de la tarjeta 2">
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="../../../assets/anuncio4.PNG" class="card-img-top" alt="Imagen de la tarjeta 3">
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img src="../../../assets/anuncio.PNG" class="card-img-top" alt="Imagen de la tarjeta 4">
      </div>
    </div>
  </div>
</div>




     
        