
<div class="container my-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 ">
          <img src="../../assets/noticia3.PNG" class="card-img-top" alt="Noticia 1">
          <div class="card-body">
            <h2 class="card-title">El estancamiento del gasto público le sale caro a Colombia </h2>
            <p class="card-text">a ejecución del Gobierno de Petro durante el primer semestre alcanza las cifras más bajas en dos décadas, lo que frena el crecimiento de la economía.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="../../assets/noticia2.PNG" class="card-img-top" alt="Noticia 2">
          <div class="card-body">
            <h2 class="card-title">Las acusaciones que vienen y van iniciando la Feria de las Flores</h2>
            <p class="card-text">Con las elecciones regionales a la vuelta de la esquina, cambios de última hora y falta de recursos para la tradicional celebración de Medellín.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="../../assets/noticia3.PNG" class="card-img-top" alt="Noticia 3">
          <div class="card-body">
            <h2 class="card-title">Gustavo Petro y Claudia López estacionan el metro de Bogotá en el centro de la campaña electora</h2>
            <p class="card-text">El enfrentamiento por convertir en subterráneo un tramo de la primera línea se refleja en los candidatos para suceder a la alcaldesa capitalina</p>
              <a href="" class=""></a><a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-4">
          <img src="../../assets/noticia4.PNG" class="card-img-top" alt="Noticia 4">
          <div class="card-body">
            <h2 class="card-title">Es la paz, estúpidos II,<br>¿Cuál es el trámite que deben seguir los Acuerdos de paz?</h2>
            <p class="card-text">Es hora de que nos preguntemos por qué los demás países que buscan acuerdos de paz sí pueden alcanzarlos y nosotros no.</p>
            <a href="#" class="btn btn-primary">Leer más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
